<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
    <th:block layout:fragment="css"></th:block>
   
    
    <div layout:fragment="content">

      <div th:replace="~{/fragments/banner::banner}"></div>
     
         <!-- Product Section Begin -->
         <section class="product spad">
           <div class="container">
             <div class="row">
               <div class="col-lg-8">
                 <div class="trending__product">
                   <div class="row">
                     <div class="col-lg-8 col-md-8 col-sm-8">
                       <div class="section-title">
                         <h4>무비 차트</h4>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4">
                       <div class="btn__all">
                         <a href="#" class="primary-btn"
                           >View All <span class="arrow_right"></span
                         ></a>
                       </div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/trending/trend-1.jpg"
                         >
                           <div class="ep">NO.01</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>예매율</li>
                             <li>개봉일</li>
                           </ul>
                           <h5>
                             <a th:href="@{/movie/read}">영화 메인 타이틀</a>
                           </h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/trending/trend-2.jpg"
                         >
                           <div class="ep">NO.02</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>예매율</li>
                             <li>개봉일</li>
                           </ul>
                           <h5>
                             <a href="#">영화 메인 타이틀</a>
                           </h5>
                           </h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/trending/trend-3.jpg"
                         >
                           <div class="ep">NO.03</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>예매율</li>
                             <li>개봉일</li>
                           </ul>
                           <h5>
                             <a href="#">영화 메인 타이틀</a>
                           </h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/trending/trend-4.jpg"
                         >
                           <div class="ep">NO.04</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>예매율</li>
                             <li>개봉일</li>
                           </ul>
                           <h5>
                             <a href="#">영화 메인 타이틀</a>
                           </h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/trending/trend-5.jpg"
                         >
                           <div class="ep">NO.06</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>예매율</li>
                             <li>개봉일</li>
                           </ul>
                           <h5>
                             <a href="#">영화 메인 타이틀</a>
                           </h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/trending/trend-6.jpg"
                         >
                           <div class="ep">NO.07</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>예매율</li>
                             <li>개봉일</li>
                           </ul>
                           <h5>
                             <a href="#">영화 메인 타이틀</a>
                           </h5>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="popular__product">
                   <div class="row">
                     <div class="col-lg-8 col-md-8 col-sm-8">
                       <div class="section-title">
                         <h4>인기 영화</h4>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4">
                       <div class="btn__all">
                         <a href="#" class="primary-btn"
                           >View All <span class="arrow_right"></span
                         ></a>
                       </div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/popular/popular-1.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5><a href="#">인기영화</a></h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/popular/popular-2.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5><a href="#">인기영화</a></h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/popular/popular-3.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5><a href="#">인기영화</a></h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/popular/popular-4.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5>
                             <a href="#">인기영화</a>
                           </h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/popular/popular-5.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5><a href="#">인기영화</a></h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/popular/popular-6.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5><a href="#">인기영화</a></h5>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="recent__product">
                   <div class="row">
                     <div class="col-lg-8 col-md-8 col-sm-8">
                       <div class="section-title">
                         <h4>Recently Added Shows</h4>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4">
                       <div class="btn__all">
                         <a href="#" class="primary-btn"
                           >View All <span class="arrow_right"></span
                         ></a>
                       </div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/recent/recent-1.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5><a href="#">Great Teacher Onizuka</a></h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/recent/recent-2.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5>
                             <a href="#"
                               >Fate/stay night Movie: Heaven's Feel - II. Lost</a
                             >
                           </h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/recent/recent-3.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5>
                             <a href="#">Mushishi Zoku Shou: Suzu no Shizuku</a>
                           </h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/recent/recent-4.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5><a href="#">Fate/Zero 2nd Season</a></h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/recent/recent-5.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5><a href="#">Kizumonogatari II: Nekket su-hen</a></h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/recent/recent-6.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5>
                             <a href="#">The Seven Deadly Sins: Wrath of the Gods</a>
                           </h5>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="live__product">
                   <div class="row">
                     <div class="col-lg-8 col-md-8 col-sm-8">
                       <div class="section-title">
                         <h4>Live Action</h4>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-4">
                       <div class="btn__all">
                         <a href="#" class="primary-btn"
                           >View All <span class="arrow_right"></span
                         ></a>
                       </div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/live/live-1.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5><a href="#">Shouwa Genroku Rakugo Shinjuu</a></h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/live/live-2.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5><a href="#">Mushishi Zoku Shou 2nd Season</a></h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/live/live-3.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5>
                             <a href="#">Mushishi Zoku Shou: Suzu no Shizuku</a>
                           </h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/live/live-4.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5>
                             <a href="#">The Seven Deadly Sins: Wrath of the Gods</a>
                           </h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/live/live-5.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5>
                             <a href="#"
                               >Fate/stay night Movie: Heaven's Feel - II. Lost</a
                             >
                           </h5>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                       <div class="product__item">
                         <div
                           class="product__item__pic set-bg"
                           data-setbg="img/live/live-6.jpg"
                         >
                           <div class="ep">18 / 18</div>
                           <div class="comment">
                             <i class="fa fa-comments"></i> 11
                           </div>
                           <div class="view"><i class="fa fa-eye"></i> 9141</div>
                         </div>
                         <div class="product__item__text">
                           <ul>
                             <li>Active</li>
                             <li>Movie</li>
                           </ul>
                           <h5><a href="#">Kizumonogatari II: Nekketsu-hen</a></h5>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
               <!-- 차트 뷰 -->
               <div th:replace="~{/fragments/chartsidebar::chartsidebar}"></div>
             </div>
           </div>
         </section>
         <!-- Product Section End -->
    </div>

      <th:block layout:fragment="js"></th:block>
</html>