<!DOCTYPE html>
<html lang="en"  layout:decorate="~{/layouts/layout}">
    
<div layout:fragment="content">
        <section class="anime-details spad">
            <div class="container">
                <div class="anime__details__content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="anime__details__pic set-bg" data-setbg="img/anime/details-pic.jpg">
                                <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="anime__details__text">
                                <div class="anime__details__title">
                                    <h3>영화 타이틀 가져오기</h3>
                                </div>
                                <div class="anime__details__rating">
                                    <div class="rating">
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                                    </div>
                                    <span>1.029 Votes</span>
                                </div>
                                <p>영화에 대한 상세 정보</p>
                                <div class="anime__details__widget">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <ul>
                                                <li><span>감독:</span> 감독명</li>
                                                <li><span>출연진:</span>출연자</li>
                                                <li><span>장르:</span> 장르</li>
                                                <li><span>등급:</span>~세이상 관람가</li>
                                                <li><span>개봉일:</span> 개봉일</li>
                            
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="anime__details__btn">
                                    <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> 찜 하기</a>
                                    <a href="#" class="watch-btn"><span>빠른 예매</span> <i
                                        class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="anime__details__review">
                                <div class="section-title">
                                    <h5>관람평</h5>
                                </div>
                                <div class="anime__review__item">
                                    <div class="anime__review__item__pic">
                                        <img src="img/anime/review-1.jpg" alt="">
                                    </div>
                                    <div class="anime__review__item__text">
                                        <h6>작성자</h6>
                                        <p>댓글 내용</p>
                                    </div>
                                </div>
                                
                  
                            <div class="anime__details__form">
                                <div class="section-title">
                                    <h5>관람평 작성하기</h5>
                                </div>
                                <form action="#">
                                    <textarea placeholder="Your Comment"></textarea>
                                    <button type="submit"><i class="fa fa-location-arrow"></i> 관람평 등록</button>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
    </div>
</html>