<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
    <th:block layout:fragment="css"></th:block>
<section class="hero"  th:fragment="banner">
    <div class="container">
      <div class="hero__slider owl-carousel owl-loaded">
        <div class="hero__items set-bg" data-setbg="/img/ironman.png">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero__text color_black">
                <div class="label">매인 베너</div>
                <h2>중심이 되는 최신 영화</h2>
                <p>부제 or 간단한 영화 소개</p>
                <a href="#"
                  ><span>Watch Now</span> <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero__text">
                <div class="label">Adventure</div>
                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                <p>After 30 days of travel across the world...</p>
                <a href="#"
                  ><span>Watch Now</span> <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero__text">
                <div class="label">Adventure</div>
                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                <p>After 30 days of travel across the world...</p>
                <a href="#"
                  ><span>Watch Now</span> <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <th:block layout:fragment="js"></th:block>
</html>