<!DOCTYPE html>
<html lang="en">
  <footer class="footer" th:fragment="footer">
    <div class="page-up">
      <a href="#" id="scrollToTopButton"
        ><span class="arrow_carrot-up"></span
      ></a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="footer__logo">
            <a th:href="@{/movie/main}"><h2 class="color_white">3조 영화</h2></a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer__nav">
            <ul>
              <li class="active"><a href="./index.html">회사소개</a></li>
              <li><a href="./categories.html">운영방침</a></li>
              <li><a href="./blog.html">Our Blog</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
            <ul>
              <li>주소</li>
              <li>대표자명</li>
              <li>사업등록번호</li>
              <li>대표이메일</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This template is made with
            <i class="fa fa-heart" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          <div class="footer__nav">
          <p><a href="">you</a></p>
          <p><a href="">x</a></p>
          <p><a href="">in</a></p>
          <p><a href="">face</a></p>
        </div>
        </div>
      </div>
    </div>
  </footer>
</html>
