<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
    <th:block layout:fragment="css"></th:block>
   
    <div layout:fragment="content">
      
        <section class="login spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login__form">
                            <h3>로그인</h3>
                            <form action="#">
                                <div class="input__item">
                                    <input type="text" placeholder="Email address">
                                    <span class="icon_mail"></span>
                                </div>
                                <div class="input__item">
                                    <input type="text" placeholder="Password">
                                    <span class="icon_lock"></span>
                                </div>
                                <button type="submit" class="site-btn">로그인</button>
                            </form>
                            <a href="#" class="forget_id">아이디 찾기</a>
                            <a href="#" class="forget_pass">비밀번호 찾기</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login__register">
                            <h3>회원이 아니신가요?</h3>
                            <a th:href="@{/member/register}" class="primary-btn">회원가입</a>
                        </div>
                    </div>
                </div>
                <div class="login__social">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6">
                            <div class="login__social__links">
                                <span>or</span>
                                <ul>
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Sign in With
                                    Facebook</a></li>
                                    <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>  
        
    <th:block layout:fragment="js"></th:block>
   
</html>